APP_NAME=user-service
AWS_ACCESS_KEY_ID=aws-access-key-id
AWS_DEFAULT_REGION=eu-central-1
AWS_SECRET_ACCESS_KEY=aws-secret-access-key
DEBUG=false
DEFAULT_TIMEZONE=UTC
LOG_LEVEL=INFO
POWERTOOLS_LOGGER_LOG_EVENT=false
POWERTOOLS_SERVICE_NAME=user-service
POWERTOOLS_DEBUG=false
STAGE=staging